In [1]:
import pandas as pd
import numpy as np

In [2]:
%matplotlib inline

In [3]:
col = pd.read_csv('CovidColombia.csv', usecols= ['Fecha de notificación',
       'Ciudad de ubicación', 'Departamento o Distrito ', 'atención', 'Edad',
       'Sexo', 'Tipo', 'Estado', 'País de procedencia',
       'Fecha de muerte', 'Fecha diagnostico', 'Fecha recuperado',
       'Tipo recuperación'],date_parser= ['Fecha de notificación','Fecha de muerte', 'Fecha diagnostico',
       'Fecha recuperado'], low_memory = False)

In [4]:
fecha = col['Fecha de notificación'].max()

In [5]:
FECHA = fecha.rstrip('T00:00:00.000')
FECHA

'2020-10-18'

In [6]:

col[['Fecha de notificación',
       'Ciudad de ubicación', 'Departamento o Distrito ', 'atención', 'Edad',
       'Sexo', 'Tipo', 'Estado', 'País de procedencia',
       'Fecha de muerte', 'Fecha diagnostico', 'Fecha recuperado',
       'Tipo recuperación']]=  col[['Fecha de notificación',
       'Ciudad de ubicación', 'Departamento o Distrito ', 'atención', 'Edad',
       'Sexo', 'Tipo', 'Estado', 'País de procedencia',
       'Fecha de muerte', 'Fecha diagnostico', 'Fecha recuperado',
       'Tipo recuperación']].astype('category')

In [7]:
filtro = col['Fecha de muerte'].notnull()
fallecidosEdad = col.loc[filtro, ['Edad', 'Fecha de muerte']]
fallecidos = fallecidosEdad.groupby('Edad')['Edad'].count().to_frame()

In [8]:
fallecidos.rename(columns={'Edad':'Número fallecidos'},inplace=True)

In [9]:
fallecidos

      Número fallecidos
Edad
0                    44
1                     7
2                     9
3                     8
4                     6
...                 ...
109                   0
110                   2
111                   0
112                   1
115                   0

[114 rows x 1 columns]

In [10]:
cerocuatro = fallecidos.iloc[0:5].sum()
cincocatorce= fallecidos.iloc[5:15].sum()
quincecuarentaycuatro = fallecidos.iloc[15:45].sum()
cuarentaycincosesentaycuatro = fallecidos.iloc[45:65].sum()
sesentaycincoochentaycuatro = fallecidos.iloc[65:85].sum()
ochentaycinconoventaynueve = fallecidos.iloc[85:100].sum()
cienomas = fallecidos.iloc[100:150].sum()

lista= [cerocuatro,cincocatorce,quincecuarentaycuatro,cuarentaycincosesentaycuatro,sesentaycincoochentaycuatro,ochentaycinconoventaynueve,cienomas]
lista

[Número fallecidos    74
 dtype: int64,
 Número fallecidos    37
 dtype: int64,
 Número fallecidos    2276
 dtype: int64,
 Número fallecidos    8706
 dtype: int64,
 Número fallecidos    15912
 dtype: int64,
 Número fallecidos    4481
 dtype: int64,
 Número fallecidos    70
 dtype: int64]

In [11]:
d={'edad 0 a 4':cerocuatro, 'edad 5 a 14':cincocatorce,
       'edad 15 a 44':quincecuarentaycuatro, 'edad 45 a 64':cuarentaycincosesentaycuatro, 'edad 65 a 84':sesentaycincoochentaycuatro, 'edad 85 a 99':ochentaycinconoventaynueve,
       'edad 100 o mas':cienomas}
df = pd.DataFrame(data=d)
df['Total fallecidos']= df.loc['Número fallecidos','edad 0 a 4']+ df.loc['Número fallecidos','edad 5 a 14']+df.loc['Número fallecidos','edad 15 a 44']+df.loc['Número fallecidos','edad 45 a 64']+df.loc['Número fallecidos','edad 65 a 84']+df.loc['Número fallecidos','edad 85 a 99']+df.loc['Número fallecidos','edad 100 o mas']
df

,edad 0 a 4,edad 5 a 14,edad 15 a 44,edad 45 a 64,edad 65 a 84,edad 85 a 99,edad 100 o mas,Total fallecidos
Número fallecidos,74,37,2276,8706,15912,4481,70,31556

In [12]:
df.to_csv('etarioDefuncionesCOLOMBIA.csv')